.todo{
  width: 40%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media(max-width: 991px) {
    width: 60%;
  }
  @media(max-width: 767px) {
    width: 75%;
  }
  @media(max-width: 575px) {
    width: 100%;
    margin-bottom: 30px;
    justify-content: flex-start;
    min-height: auto;
  }
  @media(max-width: 375px) {
    padding-top: 10px;
  }
  &__box{
    &:first-child{
      margin-bottom: 30px;
    }
  }
  &-item{
    &__input{
      padding: 5px;
      border-radius: 3px;
      border: none;
      outline: none;
      @media(max-width: 375px) {
        width: 80%;
      }
      &-wrapper{
        display: flex;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        transition: all .3s;
        @media(max-width: 320px) {
          width: 60%;
        }
      }
    }
  }
}

// перенести в .todo
.todo__input:focus .error{
  display: none;
}